/** @format */

.MediaContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 10px;
}

.MediaResultContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-height: 260px;
  overflow-y: auto;
}

.ProductImage {
  width: 200px;
  height: 100%;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.ProductInfo > h4 {
  margin-bottom: 0;
}

.NoResultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
