.EventInfoContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.EventInfoContainer > *:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 4px;
}

.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.ControlsContainer {
  display: flex;
  flex-direction: column;
  height: 320px;
}

.ControlsFooter {
  display: flex;
  margin-top: 12px;
}

.ControlsFooter > *:nth-child(1) {
  flex: 1;
}

.ControlsFooter > *:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.Controls {
  flex: 1;
  overflow-y: auto;
}

.RunningStats {
  flex: 1;
}

.BotStats {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.SettingsRow {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-bottom: 8px;
}

.PriorityItems {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.PriorityItemList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.PriorityItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
}

.AdditionalPrioritySettings {
  display: flex;

  margin-top: 12px;
  flex-direction: column;
  gap: 4px;
}

.PriorityItem > *:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.PriorityItem > *:nth-child(2) {
  flex: 1;
}

.OnSaleLabel {
  color: green;
}

.NotOnSaleLabel {
  color: orange;
}
