.ControlsFooter {
  display: flex;
  align-items: center;
  z-index: 10;
  height: 50px;
  width: 100%;
}

.ControlsFooter > *:nth-child(1) {
  flex: 1;
}

.ControlsFooter > *:nth-child(2) {
  display: flex;
  gap: 8px;
}
